process {
    withName: VERIFYBAMID_VERIFYBAMID2 {
        container = 'quay.io/biocontainers/verifybamid2:1.0.6--h32f71e1_3'
    }
    withName: SAMTOOLS_IDXSTATS|SAMTOOLS_VIEW_.* {
        container = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0'
    }
    withName: TABIX_TABIX {
        container = 'quay.io/biocontainers/htslib:1.20--h5efdd21_2'
    }
}
