process {
    withName: GATK4_INDEXFEATUREFILE {
        ext.when = { params.run_gvcf_processing }
    }
    withName: SAMTOOLS_SPLIT {
        ext.args = { "-f '%*_%#.bam'" }
    }
    withName: BIOBAMBAM_BAMTOFASTQ {
        ext.args = { 'tryoq=1' }
    }
    withName: CUTADAPT_INTERLEAVE_PEFQ {
        ext.args = { [
          '--interleaved'
        ].join(' ').trim() }
    }
    withName: CUTADAPT_SINGLE {
        ext.when = { (params.cutadapt_r1_adapter || params.cutadapt_quality_base || params.cutadapt_quality_cutoff) }
        ext.args = { [
          (params.cutadapt_r1_adapter) ? "-a ${params.cutadapt_r1_adapter}" : '',
          (params.cutadapt_min_len) ? "--minimum-length ${params.cutadapt_min_len}" : '',
          (params.cutadapt_quality_base) ? "--quality-base ${params.cutadapt_quality_base}" : '',
          (params.cutadapt_quality_cutoff) ? "--quality-cutoff ${params.cutadapt_quality_cutoff}" : ''
        ].join(' ').trim() }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/cutadapt/" },
            pattern: "*cutadapt_stats.txt"
        ]
    }
    withName: CUTADAPT_PAIRED {
        ext.when = { (params.cutadapt_r1_adapter || params.cutadapt_r2_adapter || params.cutadapt_quality_base || params.cutadapt_quality_cutoff) }
        ext.args = { [
          '--interleaved',
          (params.cutadapt_r1_adapter) ? "-a ${params.cutadapt_r1_adapter}" : '',
          (params.cutadapt_r2_adapter) ? "-A ${params.cutadapt_r2_adapter}" : '',
          (params.cutadapt_min_len) ? "--minimum-length ${params.cutadapt_min_len}" : '',
          (params.cutadapt_quality_base) ? "--quality-base ${params.cutadapt_quality_base}" : '',
          (params.cutadapt_quality_cutoff) ? "--quality-cutoff ${params.cutadapt_quality_cutoff}" : ''
        ].join(' ').trim() }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/cutadapt/" },
            pattern: "*cutadapt_stats.txt"
        ]
    }
    withName: BWA_MEM {
        ext.args = { [
          '-K 100000000 -v 3 -Y',
          (params.min_alignment_score) ? "-T ${params.min_alignment_score}" : ''
        ].join(' ').trim() }
        ext.args3 = { '-S -f bam -l 0' }
        ext.args4 = { '--tmpdir ./ -l 5' }
    }
    withName: GATK4_BASERECALIBRATOR {
        ext.args = { '--use-original-qualities' }
    }
    withName: GATK4_GATHERBQSRREPORTS {
        publishDir = [
          mode: 'copy',
          path: { "${params.outdir}/metrics/" },
          pattern: "*.table",
          saveAs: { "${params.output_basename}.GatherBqsrReports.recal_data.csv" }
        ]
    }
    withName: GATK4_APPLYBQSR {
        ext.args = { '--use-original-qualities --add-output-sam-program-record --static-quantized-quals 10 --static-quantized-quals 20 --static-quantized-quals 30' }
    }
    withName: PICARD_GATHERBAMFILES {
        ext.args = { 'CREATE_INDEX=true CREATE_MD5_FILE=true' }
    }
    withName: PICARD_COLLECTALIGNMENTSUMMARYMETRICS {
        ext.when = { params.run_agg_metrics }
        ext.prefix = { "$params.output_basename" }
        ext.args = { 'METRIC_ACCUMULATION_LEVEL="null" METRIC_ACCUMULATION_LEVEL="SAMPLE" METRIC_ACCUMULATION_LEVEL="LIBRARY"' }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*.alignment_summary_metrics"
        ]
    }
    withName: PICARD_COLLECTGCBIASMETRICS {
        ext.when = { params.run_agg_metrics }
        ext.prefix = { "$params.output_basename" }
        ext.args = { 'METRIC_ACCUMULATION_LEVEL="null" METRIC_ACCUMULATION_LEVEL="SAMPLE" METRIC_ACCUMULATION_LEVEL="LIBRARY"' }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*.gc_bias*metrics*"
        ]
    }
    withName: PICARD_COLLECTINSERTSIZEMETRICS {
        ext.when = { params.run_agg_metrics }
        ext.prefix = { "$params.output_basename" }
        ext.args = { 'METRIC_ACCUMULATION_LEVEL="null" METRIC_ACCUMULATION_LEVEL="SAMPLE" METRIC_ACCUMULATION_LEVEL="LIBRARY"' }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*.insert_size_*"
        ]
    }
    withName: PICARD_COLLECTSEQUENCINGARTIFACTMETRICS {
        ext.when = { params.run_agg_metrics }
        ext.prefix = { "$params.output_basename" }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*_metrics"
        ]
    }
    withName: PICARD_QUALITYSCOREDISTRIBUTION {
        ext.when = { params.run_agg_metrics }
        ext.prefix = { "$params.output_basename" }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*.qual_score_dist.*"
        ]
    }
    withName: PICARD_COLLECTWGSMETRICS {
        ext.when = { params.wgs_or_wxs == 'WGS' && params.run_wgs_metrics }
        ext.prefix = { "$params.output_basename" }
        ext.args = { 'VALIDATION_STRINGENCY=SILENT INCLUDE_BQ_HISTOGRAM=true USE_FAST_ALGORITHM=true READ_LENGTH=250' }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*_metrics"
        ]
    }
    withName: PICARD_COLLECTHSMETRICS {
        ext.when = { params.wgs_or_wxs == 'WXS' && params.run_hs_metrics }
        ext.prefix = { "$params.output_basename" }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*.hs_metrics"
        ]
    }
    withName: SAMTOOLS_IDXSTATS {
        ext.when = { params.run_sex_metrics }
        ext.prefix = { "$params.output_basename" }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*.idxstats",
            saveAs: { "${params.output_basename}.idxstats.txt" }
        ]
    }
    withName: SAMTOOLS_VIEW_CRAM {
        ext.prefix = { "$params.output_basename" }
        ext.args = { '--output-fmt cram --write-index' }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}" },
            pattern: "*.{cram,crai}"
        ]
    }
    withName: SAMTOOLS_VIEW_RG {
        ext.args = { '--output-fmt sam --header-only' }
    }
    withName: VERIFYBAMID_VERIFYBAMID2 {
        ext.when = { params.run_gvcf_processing }
        ext.prefix = { "$params.output_basename" }
        ext.args = { "--DisableSanityCheck --Output $params.output_basename" }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*.selfSM"
        ]
    }
    withName: GATK4_INTERVALLISTTOOLS {
        ext.when = { params.run_gvcf_processing }
        ext.args = { '--SCATTER_COUNT 50 --SUBDIVISION_MODE BALANCING_WITHOUT_INTERVAL_SUBDIVISION_WITH_OVERFLOW --UNIQUE true --SORT true --BREAK_BANDS_AT_MULTIPLES_OF 1000000' }
    }
    withName: GATK4_HAPLOTYPECALLER {
        ext.when = { params.run_gvcf_processing }
        ext.args = { '--interval_padding 500' }
        ext.args2 = { '-ERC GVCF --max_alternate_alleles 3 -variant_index_parameter 128000 -variant_index_type LINEAR --read_filter OverclippedRead' }
    }
    withName: GATK4_MERGEVCFS {
        ext.when = { params.run_gvcf_processing }
        ext.prefix = { "${params.output_basename}.g" }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}" },
            pattern: "*.vcf.gz*",
            saveAs: { !params.biospecimen_name ? it : null }
        ]
    }
    withName: PICARD_RENAMESAMPLEINVCF {
        ext.when = { params.run_gvcf_processing }
        ext.prefix = { "$params.output_basename" }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}" },
            pattern: "*.vcf.gz",
            saveAs: { "${params.output_basename}.g.vcf.gz" }
        ]
    }
    withName: TABIX_TABIX_GVCF {
        ext.when = { params.run_gvcf_processing }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}" },
            pattern: "*.tbi",
            saveAs: { "${params.output_basename}.g.vcf.gz.tbi" }
        ]
    }
    withName: PICARD_COLLECTVARIANTCALLINGMETRICS {
        ext.when = { params.run_gvcf_processing }
        ext.prefix = { "$params.output_basename" }
        ext.args = { 'GVCF_INPUT=true' }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/metrics/" },
            pattern: "*_metrics"
        ]
    }
}
