process {
    withName: 'GATK4_INDEXFEATUREFILE|GATK4_INTERVALLISTTOOLS|PICARD_GATHERBAMFILES|SAMTOOLS_SPLIT|SAMTOOLS_VIEW_RG|TABIX_TABIX|SPLIT_FASTQ|UNTAR' {
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: BIOBAMBAM_BAMTOFASTQ {
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: BWA_MEM {
        $sbgAWSInstanceHint='c6i.8xlarge'
    }
    withName: SAMBAMBA_MERGE {
        $sbgAWSInstanceHint='c6i.8xlarge'
    }
    withName: GATK4_BASERECALIBRATOR {
        $sbgAWSInstanceHint='m6i.2xlarge'
    }
    withName: GATK4_APPLYBQSR {
        $sbgAWSInstanceHint='m6i.2xlarge'
    }
    withName: 'VERIFYBAMID_VERIFYBAMID2|PICARD_COLLECT.*|PICARD_QUALITYSCOREDISTRIBUTION|SAMTOOLS_IDXSTATS_XY|SAMTOOLS_VIEW_CRAM' {
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: GATK4_HAPLOTYPECALLER {
        $sbgAWSInstanceHint='m6i.8xlarge'
    }
    withName: 'GATK4_MERGEVCFS|PICARD_RENAMESAMPLEINVCF|TABIX_TABIX_GVCF' {
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
}
