process {
    withName: BIOBAMBAM_BAMTOFASTQ {
        $sbgAWSInstanceHint='i3en.xlarge'
    }
    withName: SPLIT_FASTQ {
        $sbgAWSInstanceHint='i3en.xlarge'
    }
    withName: BWA_MEM {
        $sbgAWSInstanceHint='c6i.8xlarge'
    }
    withName: SAMBAMBA_MERGE {
        $sbgAWSInstanceHint='i3en.xlarge'
    }
    withName: GATK4_BASERECALIBRATOR {
        $sbgAWSInstanceHint='m6i.4xlarge'
    }
    withName: GATK4_APPLYBQSR {
        $sbgAWSInstanceHint='m6i.4xlarge'
    }
    withName: PICARD_GATHERBAMFILES {
        $sbgAWSInstanceHint='i3en.xlarge'
    }
    withName: GATK4_HAPLOTYPECALLER {
        $sbgAWSInstanceHint='m6i.4xlarge'
    }
}
