process {
    withName: GATK4_INDEXFEATUREFILE {
        afterScript = { "rm -f $feature_file" }
    }
    withName: UNTAR {
        afterScript = { "rm -f $archive" }
    }
    withName: SAMTOOLS_SPLIT {
        afterScript = { "rm $reads $fasta" }
    }
    withName: 'SAMTOOLS_VIEW.*' {
        afterScript = { "rm -f $input $index $fasta" }
    }
    withName: BIOBAMBAM_BAMTOFASTQ {
        afterScript = { "rm -f $reads $fasta" }
    }
    withName: 'CUTADAPT_.*' {
        afterScript = { "rm -f ${reads.join(' ')}" }
    }
    withName: SPLIT_FASTQ {
        afterScript = { "rm -f $reads" }
    }
    withName: BWA_MEM {
        afterScript = { "rm -f $reads ${fasta.join(' ')}" }
    }
    withName: SAMBAMBA_MERGE {
        afterScript = { "rm -f $reads" }
    }
    withName: PYTHON_CREATESEQUENCEGROUPS {
        afterScript = { "rm -f $dict" }
    }
    withName: GATK4_BASERECALIBRATOR {
        afterScript = { "rm -f $reads $index $fasta $fai $dict $sequence_interval ${known_sites.join(' ')} ${known_sites_indexes.join(' ')}" }
    }
    withName: GATK4_GATHERBQSRREPORTS {
        afterScript = { "rm -f ${table.join(' ')}" }
    }
    withName: GATK4_APPLYBQSR {
        afterScript = { "rm -f $reads $index $fasta $fai $dict $sequence_interval $bqsr_report" }
    }
    withName: PICARD_GATHERBAMFILES {
        afterScript = { "rm -f $input_bams" }
    }
    withName: PICARD_COLLECTALIGNMENTSUMMARYMETRICS {
        afterScript = { "rm -f $reads $index $fasta $fai" }
    }
    withName: PICARD_COLLECTGCBIASMETRICS {
        afterScript = { "rm -f $reads $index $fasta $fai" }
    }
    withName: PICARD_COLLECTINSERTSIZEMETRICS {
        afterScript = { "rm -f $reads $index $fasta $fai" }
    }
    withName: PICARD_COLLECTSEQUENCINGARTIFACTMETRICS {
        afterScript = { "rm -f $reads $index $fasta $fai" }
    }
    withName: PICARD_QUALITYSCOREDISTRIBUTION {
        afterScript = { "rm -f $reads $index $fasta $fai" }
    }
    withName: PICARD_COLLECTWGSMETRICS {
        afterScript = { "rm -f $reads $index $fasta $fai $intervallist" }
    }
    withName: PICARD_COLLECTHSMETRICS {
        afterScript = { "rm -f $reads $index $fasta $fai $bait_intervals $target_intervals" }
    }
    withName: SAMTOOLS_IDXSTATS_XY {
        afterScript = { "rm -f $reads $index" }
    }
    withName: VERIFYBAMID_VERIFYBAMID2 {
        afterScript = { "rm -f $bam $bai $svd_ud $svd_mu $svd_bed $refvcf $references" }
    }
    withName: GATK4_INTERVALLISTTOOLS {
        afterScript = { "rm -f $intervals" }
    }
    withName: GATK4_HAPLOTYPECALLER {
        afterScript = { "rm -f $reads $index $fasta $fai $dict $sequence_interval local.sharded.bam" }
    }
    withName: PICARD_MERGEVCFS_RENAMESAMPLE {
        afterScript = { "rm -f ${input_vcfs.join(' ')} ${input_vcfs_indexes.join(' ')}" }
    }
    withName: GATK4_MERGEVCFS {
        afterScript = { "rm -f ${vcf.join(' ')} $dict" }
    }
    withName: PICARD_RENAMESAMPLEINVCF {
        afterScript = { "rm -f $vcf" }
    }
    withName: PICARD_COLLECTVARIANTCALLINGMETRICS {
        afterScript = { "rm -f $input_vcf $input_vcf_index $dbsnp_vcf $dbsnp_vcf_index $target_intervals $dict" }
    }
    withName: 'TABIX_TABIX.*' {
        afterScript = { "rm -f $tab" }
    }
}
